.main-authentication__img {
    min-height: 450px;
    background: url("../img/totoro.png") no-repeat;
    background-size: 100% 450px;
}

.main-authentication__form-signin {
    max-width: 330px;
    padding: 15px;
    padding-top: 50px;
}
.main-authentication__form-signin .form-signin-heading,
.main-authentication__form-signin .checkbox {
    margin-bottom: 10px;
}
.main-authentication__form-signin .checkbox {
    padding-left: 20px;
    font-weight: normal;
}
.main-authentication__form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.main-authentication__form-signin .form-control:focus {
    z-index: 2;
}
.main-authentication__form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.main-authentication__form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

@media (max-width: 991px) {
    .main-authentication__form-signin {
        margin: 0 auto;
    }
}